apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "my-backend.fullname" . }}
  labels:
    app: {{ include "my-backend.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "my-backend.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "my-backend.name" . }}
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"

